@import '../../../../style.scss';
.adminFooter{
  background:  $color-base-dark;
  background: linear-gradient(180deg, $color-base-dark,  $color-secondary 50%);
  color: white;
  text-decoration: none;
  margin-top: 2rem;
  bottom:0;
  width:100%;
}