@import '../../../../style.scss';

.stickycard {
  top: 85px;
}

.card {
  background-color: #1f2a4c;
}

.publicPagesHome {
  h4 {
    a {
      color: $color-base-dark!important;
      font-weight: 600;
      text-decoration: none !important;
    }
  }
  .newsArea {
    h6 {
      width: 100%;
      background-color: rgba($color: $color-base-dark, $alpha: 0.8);
    }
  }
}

#carouselExampleControls {
  .carousel-item {
    h4 {
      background-color: $color-base-dark;
      
    }
  }
}

.featuredColumns {
  background-color: #fff;
  width: 100vh;
  height: 260px !important;
}

.newsCard {
  height: 340px;

  .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .card-img-top {
    height: 16rem;
    object-fit: cover;
  }
}

.btnBordoNews {
  background-color: #1f2a4c !important;
  color: #fff !important;
  border: 2px solid #1f2a4c;
}

.btnBordoNews:hover {
  background-color: #fff !important;
  color: #1f2a4c !important;
  border: 2px solid #1f2a4c;
}

.moreNewsList {
  font-size: 0.8rem;
}

.btnCarousel {
  background-color: #1f2a4c !important;
  color: #fff !important;
}

.btnCarousel:hover {
  background-color: #fff !important;
  color: #1f2a4c !important;
}