.stickycard {
    top: 85px;
  }
  
  .featuredColumns {
    background-color: #fff;
    width: 100vh;
    height: 260px !important;
  }
  
  .columnsCard {
    height: 340px;
  
    .card-title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  
    .card-img-top {
      height: 16rem;
      object-fit: cover;
    }
  }
  

  
  .moreColumnsList {
    font-size: 0.8rem;
  }