.btnNewsAdd {
  background-color: #985530 !important;
  color: #fff !important;
  border: 2px solid #985530;
}

.btnNewsAdd:hover {
  background-color: #fff !important;
  color: #985530 !important;
  border: 2px solid #985530;
}

.ellipsis {
  max-width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}