@import '../../../../style.scss';

.publicComponentsNavbar {
  .bg-bordo {
    --bs-bg-opacity: 1;
    background-color: $color-base-dark;
  }
  a:hover {
    color: $color-secondary-light!important;
  }
  .dropdown-menu {
    background-color: $color-base-dark!important;
    a:hover {
      color: $color-base!important;
    }
  }
}
