@import '../../../../style.scss';

.publicComponentsNavbar {
  .bg-bordo {
    --bs-bg-opacity: 1;
    background-color: $color-base-dark;
  }
  a:hover {
    color: $color-secondary-light!important;
  }
  .dropdown-menu {
    background-color: $color-base-dark!important;
    a:hover {
      color: $color-base!important;
    }
  }
  @media only screen and (min-width: 600px) {
    .column-links {
      border-right: 0.05rem solid;
      border-color: white;
    }
  }
  @media only screen and (max-width: 600px) {
    .column-links {
      border-bottom: 0.05rem solid;
      border-color: white;
    }
  }
}
