@import '../../../../style.scss';

.admin-navbar {
  background-color: $color-secondary;

  .container-fluid {
    justify-content: space-between;
  }

  .navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
  }

  a,
  .navbar-toggler {
    color: $color-secondary-light;
  }

  a:hover,
  a:focus,
  .nav-link.dropdown-toggle.show {
    color: $color-base;
  }

  .dropdown-menu {
    background-color: $color-secondary-dark;
  }

  .nav-link {
    font-weight: 600;
    padding-left: 10px;
  }

  .nav-item {
    margin: 0 0.3rem;
    padding-left: 10px;

    .nav-link {
      font-weight: 600;
      padding-left: 20px;
    }

    .nav-link.active {
      color: $color-secondary;
      background-color: $color-secondary-light;
      border-radius: 0.3rem;
    }
  }

}

#navbarNavDarkDropdown {
  flex-basis: auto;
}