@import '../../../../style.scss';

.admin-navbar {
  background-color: $color-secondary;
  .admin-navbar-content {
    margin: 0 auto;
    .navbar-brand-content {
      margin-bottom: 1.5rem;
      .navbar-brand {
        font-size: 2.5rem;
      }
    }
  }
  .navbar-brand {
    font-weight: 600;
  }
  a, .navbar-toggler {
    color: $color-secondary-light;
  }
  a:hover, a:focus, .nav-link.dropdown-toggle.show {
    color: $color-base;
  }
  .dropdown-menu {
    background-color: $color-secondary-dark;
  }
  .nav-link {
    font-weight: 500;
  }
  .nav-link.active {
    color: $color-secondary;
    background-color: $color-secondary-light;
    border-radius: 0.3rem;
  }
  .nav-item {
    margin: 0 0.3rem;
  }
}