.page-item.active {
  .page-link{
    z-index: 3;
    color: #fff !important;
    background-color: #985530 !important;
    border-color: #fff !important;
  }
  
}
.page-item{
  .page-link{
    z-index: 3;
    color: #985530 !important;
    background-color: #fff !important;
    border-color: #fff !important;
  }
  
}