.categoryAddContainer {
  font-size: 1.2rem;
}
#category-add-editor{
  min-height: 200px;
  background-color: #fff;
}
.categorySave{
  background-color: #985530 !important;
  border-color: #838386 !important;
  color: #fff !important;
}
.categorySave:hover{
  background-color: #fff !important;
  border-color: #838386 !important;
  color: #985530 !important;
}