@import '../../../../style.scss';
.stickycard {
  top: 85px;
}

.socialArea {
  a {
    margin: 0 0.5rem;
    font-size: 1.3rem;
    color: $color-base;
  }
}
.moreNewsList {
  font-size: 0.8rem;
}

.likeBtn{
  cursor: pointer !important;
  outline: 0 !important;
  color: #AAA !important;

}

.likeBtn:focus {
  outline: none !important;
}

.likeBtnGreen{
  color: green !important;
}

.likeBtnRed{
  color: red !important;
}