.columnEditContainer {
  font-size: 1.2rem;
}

#column-edit-editor {
  min-height: 200px;
  background-color: #fff;
}

.columnSave {
  background-color: #985530 !important;
  border-color: #838386 !important;
  color: #fff !important;
}

.columnSave:hover {
  background-color: #fff !important;
  border-color: #838386 !important;
  color: #985530 !important;
}