@import '../../../../style.scss';

.publicComponentsFooter {
  .bg-bordo {
    --bs-bg-opacity: 1;
    background-color: $color-base-dark;
    color: $color-secondary-light!important;
  }
  a {
    text-decoration: none;
  }
}