.btnCategoryAdd {
  background-color: #985530 !important;
  color: #fff !important;
  border: 2px solid #985530;
}

.btnCategoryAdd:hover {
  background-color: #fff !important;
  color: #985530 !important;
  border: 2px solid #985530;
}