@import '../../../../style.scss';

.publicPagesContact {
  .contact-area {
    form {
      .form-control:not(:first-child) {
        margin: 1rem 0;
      }
      .brdSend {
        width: 100%;
        background-color: $color-base-dark;
        color: white;
      }
      .brdSend:hover {
        background-color: $color-base;
      }
    }
  }
  .contact-info {
    ul {
      list-style: none;
      margin: 0 0;
      li {
        margin: 1rem 0;
        a {
          text-decoration: none;
          color: $color-base;
          span {
            margin: 0 1rem;
          }
        }
        a:hover {
          color: $color-base-dark;
        }
      }
    }
  }
}